


#Ignore common development files and directories
.env
.git/
.gitignore
.vscode/
.devcontainer/
tests/
*.pyc
pycache/
venv/

#Explicitly include the service account key
!instance/service-account.json
!/instance/service-account.json
