# Ignores for Python environments and build artifacts
__pycache__/
/venv
./.venv
*.venv
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build
*.so

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
junk*

# Local environment variables and sensitive files
.env
instance/
!instance/.gitkeep
credentials.json
token.json
error_log.txt
*.log

# Docker-related ignores
.dockerignore

# Cloud-specific local caches
.gcloud/

# Other temporary/junk files
junk
*.swp
*.out
.git
*payload*.json
src.change
service-account.json
